<h1>Seja bem-vindo!</h1><br>
<h3>Sistema de cadastro de Livros</h3>
<p class="fw-bold">
  Faça login para acessar todos os recursos.
</p>
<br>
<br>
<br>
<br>
<br>
<h4>Informações:</h4>
<p><em>O sistema consome recursos de uma API externa.</em></p>
<p>
  <i class="bi bi-display"></i>
  <a href="https://replit.com/@Polo-Serra-2/Modulo-IV-Pratica-Final-Semana-4-leosarnaglia#views">Front-end: Aplicação no Replit</a>
</p>
<p>
  <i class="bi bi-pc"></i>
  <a  href="https://github.com/prpires66/bookstore-api">Back-end: Código no Replit</a>
</p>